.hero {
  width: 100%;
  max-height: fit-content;
  min-height: 500px;
  overflow: hidden;

  img {
    max-height: 100vh;
    min-height: 400px;
    width: 100%;
    object-fit: cover;
    animation: scaling 7s ease-out;
  }
  .hero_img {
    scale: 1.1;
    overflow: hidden;
    position: relative;
    .hero_caption {
      animation: blured 3s ease-in;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      color: white;
      text-align: center;
      width: 80vw;
      .hero_caption_header {
        background-color: rgba($color: #000000, $alpha: 0.5);
        border: 5px solid white;
        display: flex;
        align-items: center;
        overflow-y: hidden;
      }
      h1,
      h2 {
        text-transform: uppercase;
      }
      h1 {
        font-size: 4.5em;
        padding: 0 1em 0 1em;
        color: #fda403;
      }
      h2 {
        font-size: 2em;
        text-decoration: underline;
      }
    }
  }

  .hero_hide {
    display: none;
  }
}
@media (max-width: 699px) {
  .hero {
    font-size: 0.5em;
  }
}

@keyframes scaling {
  0% {
    scale: 1.1;
    filter: brightness(50%) blur(10px);
  }
  10% {
    scale: 1;
    filter: brightness(70%) blur(0);
  }
  100% {
    filter: brightness(80%);
    scale: 1.1;
  }
}

@keyframes blured {
  0% {
    filter: brightness(50%) blur(10px);
  }
  10% {
    filter: brightness(90%) blur(0);
  }
  100% {
    filter: brightness(100%);
  }
}
