.about {
  background-color: #f8f6f4;
  margin-top: -70px;
  padding-top: 110px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;

  .about_heading {
    background: rgb(248, 246, 244);
    background: linear-gradient(
      90deg,
      rgba(248, 246, 244, 1) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(225, 237, 238, 0.756827731092437) 100%
    );
    padding: 1em 0em 1em 4em;
    display: flex;
    justify-content: flex-start;
    h1 {
      font-size: 5em;
      text-transform: uppercase;
      font-weight: 600;
      background-image: linear-gradient(to right, #ff6b6b, #556270);
      -webkit-background-clip: text; /* For Safari */
      background-clip: text;
      color: transparent;
    }
    @media (max-width: 699px) {
      h1 {
        font-size: 3em;
      }
    }
  }
  .about_content {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 2em 2em 2em;
    border: 2px solid rgb(216, 216, 216);
    overflow-x: hidden;
    div {
      width: 50%;
    }
    .aboutImg {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        border-radius: 10px;
        width: 80%;
      }
    }
    .about_caption {
      padding: 1em 0em 1em 1.5em;
      -webkit-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
      box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
      border-radius: 10px;

      p {
        font-size: 1.5vw;
        line-height: 200%;
        word-spacing: 5px;
        letter-spacing: 1.5px;
      }
    }
  }
  .about_content_reverse {
    flex-direction: row-reverse;
  }
  @media (max-width: 699px) {
    .about_heading {
      padding: 0 0 0 20px;
    }
    .about_content {
      flex-direction: column;
      .about_caption {
        p {
          font-size: 1.5em;
        }
      }
      div {
        width: 100%;
      }
      .aboutImg {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          border-radius: 10px;
          width: 100%;
        }
      }
    }
  }
  .subContent {
    line-height: 200%;
    word-spacing: 5px;
    letter-spacing: 1.5px;
    display: flex;
    flex-direction: column;
  }
}
