@import url("https://fonts.googleapis.com");

/* Your CSS styles here */

a {
  font-weight: 500;
  text-decoration: inherit;
}
li {
  list-style: none;
}

body {
  margin: 0;
  min-width: 320px;
  max-width: 100%;
  min-height: 100vh;
  font-size: 10px;
  font-family: monospace;
  /* transition: all 0.5s ease-in-out; */
  font-family: "Inter Tight", sans-serif;
}

/* convinceince classes  */

.pointer {
  cursor: pointer;
}
